body {
    font-family: 'Open Sans', sans-serif;
    color: #69696a;
    background-color: #f9fafc;
}

p, main container {
    color: #69696a;
    padding: 20px;
}

header {
    background-color: #f9fafc;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 5px;
}

nav {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin: 5px; 
    align-content: space-around;
    padding: 15px;
}

.hire-button {
    background-color: black;
    /* display: flex; */
    color: white;
    border-radius: 20px;
    /* justify-content: center; */
    padding: 5px;
    
}

button {
    background-color: black;
    /* display: flex; */
    width: 500px;
    color: white;
    border-radius: 20px;
    /* justify-content: center; */
    padding: 10px;
}
/* 
clearfix {
    clear: both;
} */



@media only screen and (min-width: 700px) {
    header, nav {
        flex-direction: row; 
    }
    
    header {
        justify-content: space-between;
    }

    nav {
        justify-content: space-around;
        width: 300px; 
    }
}

@media only screen and (min-width: 1000px) {
    .left {
        /* flex: wrap;
        float: left;*/
        width: 48%;
        /* height: 800px;*/
    } 

    
    .right {
        position: relative;
        width: 48%; 
        /* float: right; */
        /* height: 800px; */
    }

    .main-container {
        display: flex;
        justify-content: space-between;
    }
    .pink {
        position: absolute;
        color: rgba(247, 136, 167, 0.6);
        width: 200px;
        height: 200px;
        border-radius: 50%; 
        /* top: 20px; */
        /* left: 40px; */
    }
    
    .purple {
        background-color: rgba(207, 130, 213, 0.6);
        position: absolute;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        left: 100px;
        bottom: 80px;
        
    }
    
    .orange {
        background-color: rgba(247, 193, 162, 0.7);
        position: absolute;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        bottom: 190px; 
        left: 165px; 
    }
    /* button {
        display: flex;
        align-content: center;
    } */
}
